body{
    background-color: rgb(241, 211, 216);
    font-family: "Courier Prime",
        monospace;
}
main{
    margin: 10px 0;
    display: block;
}
h1{
    text-align: center;
    padding-bottom: 10px;
}
a{
    text-decoration: none;
    margin: 20px;
    padding: 20px;
}
a:hover{
    text-decoration: underline;
    color: rgb(236, 59, 148);
    cursor: pointer;
}
.links-1{
    display: flex;
    justify-content: center;
      color: black;
   font-size: 18px;
     
}

.links-1:hover{
    color: rgb(189, 6, 98);
  }
.blog{
    padding: 40px;
   text-align: center;
}
.links-2 {
    justify-content: center;
    margin: 0 auto;
    color: rgb(189, 6, 98);
    text-decoration: underline;
}

.chocolate {
max-width: 50%;
border-radius: 30px;
display: block;
margin: 0 auto;

}
.links-3 {
    justify-content: center;
    margin-bottom: 30px;
    display: flex;
}
.croissant-4{
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
    border-radius: 30px;
    max-width: 50%;
}

footer{
    text-align: center;
   display: block;
    border-top: 1px solid #290a75;
                  font-size: 14px;
}
footer a{
padding: 0;
}

